.about-text-block {
  display: flex;
  justify-content: space-between;
  font-family: $font-family;
  width: 100%;
  @include for-tablet-portrait-down {
    display: block;
    padding: $spacing-00-75;
  }
  &__text-wrapper {
    width: 70%;
  }
  &__title {
    color: $grey;
    @include font-size-l-xxx;

    u {
      text-decoration: none;
      border-bottom: 5px solid $secondary;
    }

    @include for-tablet-portrait-down {
      text-align: center;
    }
  }
  &__paragraph {
    color: $grey;
  }

  img {
    align-self: center;
    max-height: 30vh;
    margin: 0px;
    @include for-tablet-portrait-down {
      margin: $spacing-01 auto;
      max-height: 50vh;
      display: block;
    }
  }
}

.iconRight {
  order: 1;
}
