.blogi-wrapper {
  display: flex;
  background-color: #edf5f8;
  .blog-item {
    margin-top: $spacing-08;
  }
  @include for-tablet-portrait-down {
    flex-direction: column;
    .blogs-sidebar {
      width: 100%;
      order: 2;
      &__wrapper {
        width: 270px;
        margin: 0 auto;
        padding: 0;
      }
      .blogs-sidebar__categories,
      .blogs-sidebar__tags {
        display: none;
      }
    }
  }
}
.index-page-wrapper {
  background-color: #edf5f8;
  &__title {
    text-align: center;
    color: #023b56;
    font-size: 64px;
    font-weight: 400;
    text-decoration: underline #6ccff6;
  }
}
