.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  height: 100vh;
  width: 30vw;
  top: 0;
  right: 0;
  font-family: $font-family;
  background-color: $primary;
  transform: translateX(101%);
  transition: transform 0.5s cubic-bezier(0.385, 0.035, 0.155, 1.465);
  z-index: 5;
  padding: $spacing-03;
  padding-right: 0;
  border-left: 6px $secondary solid;
  @include font-size-l-x;

  &__close {
    display: flex;
    justify-content: flex-end;
    min-width: auto;
    outline: none;
    height: 4rem;

    &::before {
      content: 'x';
      @include font-size-l-x;
      padding-right: $spacing-02;
      color: $orange;
      font-weight: bold;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      width: 25%;
      text-align: right;
    }

    &:hover::before {
      transform: scale(1.1);
      -webkit-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-transform: uppercase;
  }

  &__nav-link {
    
    text-decoration: none;
    font-weight: 700;
    line-height: 3rem;
    padding-bottom: $spacing-01;
    color: $secondary;
  
    &:active,
    &--active {
      color: $orange;
    }
  }

  &--open {
    transform: translateX(0);
  }
}

@include for-tablet-portrait-down {
  .mobile-menu {
    width: 40vw;
  }
}

@include for-phone-only {
  .mobile-menu {
    width: 80vw;
  }
}
