.youtube {
  width: 100%;
  height: 56.25%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: $spacing-04;
  &-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: $spacing-02;
    margin-bottom: $spacing-04;
    @include for-phone-small {
      width: 90%;
      margin: $spacing-02 auto;
      margin-bottom: $spacing-04;
    }
    @include for-phone {
      justify-content: center;
    }
  }

  &__player {
    width: 225px;
    margin-bottom: $spacing-02;
    iframe {
      width: 225px;
      height: 125px;

     

    
    }
    .wrapper--overlay {
      position: relative;
    }
    &--overlay {
      position: absolute;
      top: 0;
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      height: 97%;
    }
  }

  &__player--active {
    border-width: 7px;
    border-color: $secondary;
    border-style: solid;
    width: 97%;
  position: relative;
  margin: auto;
  padding-bottom: 52%;
   
  iframe {
      margin-bottom: -0.3rem;
      width: 100%;
      height: 100%;
      position: absolute;
      top:0;
      left:0;

    
    }
  }
}
