.header {
  background-image: url("../Header/assets/heroBG.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  // overflow-: hidden;
  height: 100vh;

  -ms-overflow-style: none; // IE 10+
  scrollbar-width: none; // Firefox

  &::-webkit-scrollbar {
    display: none; // Safari and Chrome
  }
  @include for-phone-only {
    height: 431px;
    max-height: 510px;
  }
  &__textbox {
    background-color: #6ccff6cc;
    box-shadow: 0px 95px 0px #023b561a inset;
    border-radius: 0px 0px 0px 50px;
    color: $white;
    position: absolute;
    left: 40%;
    top: 10%;
    display: inline-block;
    right: 5%;
    padding: $spacing-01;
    font-family: $font-family;
    z-index: 4;
    animation: textbox-animation 1000ms cubic-bezier(0.585, -0.275, 0.415, 1.29)
      2000ms both;

    @include for-tablet-portrait-down {
      box-shadow: 0px 65px 0px #023b561a inset;
    }

    @include for-phone-only {
      width: 90vw;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      top: 35%;
      box-shadow: 0px 50px 0px #023b561a inset;
      padding: $spacing-00-50 $spacing-01;
      z-index: 2;
    }
  }



  &__headline {
    text-transform: uppercase;
    @include font-size-l-xxxx;
    font-style: italic;
    animation: headline-animation 900ms cubic-bezier(0.68, 0.45, 0.665, 1.15)
      2500ms both;
    position: relative;
    white-space: nowrap;

    @include for-tablet-portrait-down {
      @include font-size-l-xxx;
    }

    @include for-phone-only {
      text-align: center;
    }
  }

  &__subtext {
    @include font-size-l-xxx;
    line-height: $spacing-03;
    animation: subtext-animation 600ms cubic-bezier(0, 0.015, 0.005, 1.1) 3500ms
      both;
    position: relative;

    @include for-tablet-portrait-down {
      line-height: $spacing-02;
    }

    @include for-phone-only {
      line-height: $spacing-02;
      @include font-size-l-xxxx;
      text-align: center;
    }
  }

  &__newsletter-wrapper {

    position: absolute;
    right: 20%;
    bottom: -100px;
    z-index: 10;
    animation: textbox-animation 1000ms cubic-bezier(0.585, -0.275, 0.415, 1.29)
    4000ms both;

    @include for-phone-only {
  
     margin: auto;
      z-index: 10;
      bottom: 0%;
    }

  }

  &__image {
    animation: image-animation 1400ms cubic-bezier(0.68, -0.15, 0.465, 1.35)
      600ms both;
    max-height: 105%;
    max-width: 120%;
    left: 8%;
    top: -5%;
    position: absolute;
    z-index: 2;
    transform-origin: bottom;

    @include for-phone-only {
      z-index: 1;
      left: -10%;
      top: -3%;
      height: 444px;
      max-height: 450px;
    }
  }
}

@keyframes image-animation {
  from {
    transform: translateX(-500px) scale(0.01);
  }

  to {
    transform: translateX(0px) scale(1);
  }
}

@keyframes textbox-animation {
  from {
    transform: translateX(1000px) skew(55deg);
  }

  to {
    transform: translateX(0px) skew(0deg);
  }
}

@keyframes headline-animation {
  from {
    transform: translateX(-500px) translateY(-800px);
  }

  to {
    transform: translateX(0px) translateY(0px);
  }
}

@keyframes subtext-animation {
  from {
    transform: translateX(2500px) translateY(0px);
  }

  to {
    transform: translateX(0px) translateY(0px);
  }
}




/*************************************************************** About Page Header *********************************/



.about-header {
  background-image: url("../Header/assets/aboutBG.jpg");
  background-size: cover;
  background-position: left top;
  height: 90vh;


  &__textbox {
    background-color: #023b56d0;
    color: $white;
    width: 30%;
    right: 0;
    position: absolute;
    padding: $spacing-03;
    font-family: $font-family;
    z-index: 4;
    margin-top: $spacing-02;
    border-bottom: 20px $secondary solid;
    animation: textbox-animation 1000ms cubic-bezier(0.585, -0.275, 0.415, 1.29)
     both;
    

    @include for-tablet-portrait-down {
      width: 50%;
    }

    @include for-phone-only {
      width: 100%;
      position: initial;
      margin: 0;
    }

    h3 {
      text-transform: uppercase;
      @include font-size-m;
      margin: 0;
    
    }


    p {
      @include font-size-s;
      margin: 0 0 $spacing-01 0;
    }

    img {

      width: 25vw;
      max-width: 220px;
      margin-bottom: $spacing-01;

      @include for-phone-only {

        display: none;
      }


    }

  }



  

  

  

  
}



