.blogs-sidebar {
  width: 270px;
  padding: $spacing-03;
  background-color: $white;
  a {
    text-decoration: none;
  }
  &__categories,
  &__tags {
    text-align: center;
    cursor: pointer;
    font-size: 0.8rem;
    line-height: 1.7;
    ul {
      padding: 0;
      margin: 0;
    }
    span,
    li {
      list-style-type: none;
      color: $secondary;
      &:hover {
        color: $primary;
      }
    }
  }
  &__blogs,
  &__categories,
  &__tags {
    margin-bottom: $spacing-04;
  }
  &__blogs h3,
  &__categories h3,
  &__tags h3 {
    text-align: center;
  }
}
