.footer {
  display: flex;
  font-family: $font-family;
  color: $white;
  width: 100%;
  overflow: hidden;
  @include for-phone-only {
  flex-wrap: wrap;
  }

  &__left-box {
    background-color: $primary;
    border-radius: 0px 50px 0px 0px;
    padding: $spacing-02 $spacing-06 0 $spacing-06;

    @include for-tablet-portrait-down {
      padding: $spacing-02 $spacing-03 0 $spacing-03;
    }

    @include for-phone-only {
      border-radius: 0px 0px 0px 0px;
      width: 100%;
    }
  }

  &__copyright {
    color: $secondary;
    @include font-size-s;
    text-align: center;
    margin-top: $spacing-02;
    font-weight: 700;
    letter-spacing: 3px;
  }

  &__social-media {
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 12rem;
  }

  &__contact-container {
    display: flex;
    @include for-phone-only {
    flex-wrap: wrap;
    }

    h1 {
      @include font-size-l;
      margin: $spacing-02 $spacing-06 $spacing-00-50 0;
      @include for-tablet-portrait-down {
        @include font-size-m;
        margin: $spacing-02 $spacing-04 $spacing-00-50 0;
      }
    }

    p {
      @include font-size-s-x;
      line-height: $spacing-00-75;
      color: $light;
      @include for-tablet-portrait-down {
        @include font-size-s-xx;
      }
    }
  }

  &__logo-container {
    padding: $spacing-03;
    width: 100%;
    display: flex;
    @include for-tablet-portrait-down {
    }

 

    img {
      max-width: 20vw;
      margin: auto;
      @include for-phone-only {
        max-width: 60vw;
      }
    }
  }
}
